Need to Re-Write to display comments for a given post
<h1>Listing comments</h1>
<div class="comment_list">
  <h3>say it is so</h3>

  <div class="comment_div">
    <%= render @post.comments %>
  </div>
<!--table>
< % @comments.each do |comment| %>
  <!-- tr class="< %= cycle('list_line_odd', 'list_line_even') %>">

    <td>< %= comment.body %>
      <br />
      <div class="comment_author">-< %= comment.name %></div>
    </td>

    <!--td>< %= link_to 'Show', post_comment_path(comment.post_id) %></td-->
    <!--td>< %= link_to 'Edit', edit_post_comment_path, :method =>"", :post_id => comment.post_id, :id => comment.id %></td-->
    <!-- for routes all the places w/o URL have the previous/above path/url -->
    <!-- td>< %= link_to 'Destroy', post_comment_path(:id=>comment.id, :post_id=>comment.post_id), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
< % end %>

</table-->
</div>
<br />


